.validacao-container{
    display: flex;
    flex-direction: column;
}

.aprovado{
    color: green;
}

.alerta{
    color: rgb(184, 150, 0);
}

.negado{
    color: red;
}

#titulo{
    color: rebeccapurple;
}

.whats a{
    text-decoration:none;
    color:var(--green);
    float:left;
    text-align: left;
    margin-left: 15px;
    padding-top: 10px;
}
  
.whats a i{
    font-size: 50px;
}
  
.whats a:hover{
    color: var(--green-light); 
    transition:all 0.5s;
}

.doubt a{
    text-decoration:none;
    color:var(--dark-blue);
    float: left;        
    text-align: right;
    margin-left: 15px; 
    padding-top: 10px;         
}
  
.doubt a i{
    font-size: 50px;
}
  
.doubt a:hover{
    color: var(--dark-blue-light); 
    transition:all 0.5s;
}

#container {
    height: 100px;  
}

#divleft {
    float: left;
    width: 48%;
    margin-right: 2%;
    height: 50px;
    margin-top: 25px;   
}

#divright {
    float: left;
    width: 40%;
    margin-right: 2%;
    height: 70px;
    text-align: right;
    margin-top: 25px;
    background-color: rgb(210, 213, 219);
    vertical-align: middle;
}

   
   
