<!-- Estilização original e Escopo original e funcional desenvolvido por Carlos Pinheiro -->
<!-- Atualizações, estilizações, testes de consistência e validações finais desenvolvidas por Cristiano Freese-->

<!-- Tela final da aplicação com apresentação dos resultados e consistencias para que o cidadão possa se tornar MEI, considerando os dados do formulário de cadastro, os quais são apresentados como alerts. Nesta tela ocorre também a consulta de Estabelecer com a posterior apresentação do resultado final, se aprovada ou reprovada. O formModel é analisado item por item de modo a gerar as observações necessárias. No final da página são disponibilizados 2 botões, sendo o primeiro com dúvidas gerais e tutoriais para auxiliar no cadastramento da plataforma Gov.br e o segundo um contato de suporte via WhatsApp -->

<div class="container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSldZ9670r5kOg2RisJp9lpc3bU13vnPus6zQ&usqp=CAU" class="mb-4 rounded mx-auto d-block" width="108" height="85">
    <h1 class="h3 mb-3 fw-normal text-center linha1">Sr(a): {{(formModel.nome).split(' ')[0]}}</h1>
    <div class="mb-3">       
        <h1 class="h3 mb-3 fw-normal text-center linha2">Acompanhe o resultado abaixo</h1>
    </div>

    <div *ngIf="formModel.statusConsultaMEI" class="mb-3">
        <div class="alert alert-success" role="alert">
                <span>VOCÊ ESTÁ APTO PARA SER MEI</span>
        </div>       
    </div>

    <div *ngIf="!formModel.statusConsultaMEI" class="mb-3">
        <div class="alert alert-danger" role="alert">
                <span>VOCÊ NÂO ESTÁ APTO PARA SER MEI</span>
        </div>
    </div>

    <div class="mb-3">
        <div *ngIf="cpfModel.situacao.codigo == '0'; else elseBlock">
                <div class="alert alert-success" role="alert">
                        <span>CPF REGULAR</span>
                </div>
        </div>
        <ng-template #elseBlock>
                <div class="alert alert-danger" role="alert">
                        <span>CPF COM RESTRIÇÕES</span>
                </div>
        </ng-template>
    </div>

    <div class="mb-3">
        <div *ngIf="calculaIdade(formModel.dataNascimento) >= 18; else elseBlockIdade">
                <div class="alert alert-success" role="alert">
                        <span>MAIOR DE IDADE</span>
                </div>
        </div>
        <ng-template #elseBlockIdade>
                <div class="alert alert-danger" role="alert">
                        <span>MENOR DE IDADE</span>
                </div>
        </ng-template>
    </div>

    <div class="mb-3" *ngIf="formModel.eFuncPublico"> 
        <div class="alert alert-danger" role="alert">
                <span>FUNCIONÁRIO PUBLICO FEDERAL</span>
        </div>
    </div>

    <div class="mb-3" *ngIf="formModel.eSocio">
        <div class="alert alert-danger" role="alert">
                <span>SÓCIO DE OUTRA EMPRESA</span>
        </div>
    </div>

    <div class="mb-3" *ngIf="formModel.eMeiAtivo">
        <div class="alert alert-danger" role="alert">
                <span>MEI ATIVO</span>
        </div>
    </div>

    <div class="mb-3" *ngIf="formModel.temFiliais">
        <div class="alert alert-danger" role="alert">
                <span>NÃO É PERMITIDO TER FILIAIS COMO MEI</span>
        </div>
    </div>

    <div class="mb-3" *ngIf="formModel.temAposentadoriaInvalidez">
        <div class="alert alert-warning" role="alert">
                <span>PERDERÁ APOSENTADORIA INVALIDEZ</span>
        </div>
    </div>

    <div class="mb-3" *ngIf="formModel.temAuxilioDoenca">
        <div class="alert alert-warning" role="alert">
                <span>PODERÁ PERDER AUXILIO DOENÇA</span>
        </div>
    </div>

    <div class="mb-3" *ngIf="formModel.temSalarioMaternidade">
        <div class="alert alert-warning" role="alert">
                <span>PODERÁ PERDER SALÁRIO MATERNIDADE</span>
        </div>
    </div>

    <div class="mb-3" *ngIf="formModel.temSegDesemprego">
        <div class="alert alert-danger" role="alert">
                <span>PERDERÁ PERDER SEGURO DESEMPREGO</span>
        </div>
    </div>

    <div class="mb-3" *ngIf="formModel.temBpcLoas">
        <div class="alert alert-warning" role="alert">
                <span>PERDERÁ BENEFÍCIO BPC LOAS</span>
        </div>
    </div>

    <div class="mb-3" *ngIf="formModel.temProuni">
        <div class="alert alert-warning" role="alert">
                <span>PERDERÁ BENEFÍCIO PROUNI</span>
        </div>
    </div>

    <div class="mb-3" *ngIf="formModel.temFies">
        <div class="alert alert-warning" role="alert">
                <span>PERDERÁ BENEFÍCIO FIES</span>
        </div>
    </div>

    <div class="mb-3" *ngIf="formModel.temBolsaFamilia">
        <div class="alert alert-warning" role="alert">
                <span>PODERÁ PERDER BENEFÍCIO BOLSA FAMÍLIA</span>
        </div>
    </div>

    <div class="mb-3">
        <div *ngIf="verificaFaturamento(); else elseBlockFaturamento">
                <div class="alert alert-success" role="alert">
                        <span>FATURAMENTO ANUAL DENTRO DO LIMITE</span>
                </div>
        </div>
        <ng-template #elseBlockFaturamento>
                <div class="alert alert-danger" role="alert">
                        <span>FATURAMENTO ANUAL ACIMA DO LIMITE</span>
                </div>
        </ng-template>
    </div>

    <div class="mb-3" *ngIf="!verificaCustos()">
        <div class="alert alert-danger" role="alert">
                <span>CUSTO ANUAL SUPERIOR A 80% DA RECEITA</span>
        </div>
    </div>

    <div class="mb-3" *ngIf="formModel.nrFuncionarios > 1">
        <div class="alert alert-danger" role="alert">
                <span>PERMITIDO TER APENAS 1 FUNCIONÁRIO</span>
        </div>
    </div>    

    <div *ngIf="formModel.codStatusConsultaIPTU == 9" style="padding-top:50px;"> 
        <div class="alert alert-secondary" role="alert">
                <span>CONSULTA ESTABELECER NÃO REALIZADA</span>
        </div>
    </div>
    
    <div *ngIf="formModel.codStatusConsultaIPTU != 9" style="padding-top:50px;">        
        <div *ngIf="resultadoEstabelecer == '0'; else elseBlockEstabelecer">
                <div class="alert alert-success" role="alert">
                        <span>CONSULTA ESTABELECER APROVADA</span>
                </div>
        </div>
        <ng-template #elseBlockEstabelecer>
                <div class="alert alert-danger" role="alert">
                        <span>CONSULTA ESTABELECER REPROVADA</span>
                </div>
        </ng-template>
    </div>
    <div id="container">
        <div class="row" style="padding-top: 40px; padding-bottom: 40px;">
                <div id="divleft">
                </div>
                <div class="rounded-5" id="divright">
                <div class="doubt"><a routerLink="/inicio" target="_blank"><i class="icofont icofont-question-circle"></i></a></div>
                <div class="whats"><a href="https://api.whatsapp.com/send?phone=5547999999999&text=Olá, gostaria de obter auxilio referente ao meu enquadramento como MEI." target="_blank"><i class="icofont icofont-whatsapp"></i></a></div>
                </div>        
        </div>
    </div>
</div>