/*Estilizações gerais relacionadas a validação do cadastro.*/
.container{
    align-items: center; 
    width: 330px;
    height: auto;
}

.whats a{
    text-decoration:none;
    color:var(--green);
    float:left;
    text-align: left;
    margin-left: 15px;
    padding-top: 10px;
}
  
.whats a i{
    font-size: 50px;
}
  
.whats a:hover{
    color: var(--green-light); 
    transition:all 0.5s;
}

.doubt a{
    text-decoration:none;
    color:var(--dark-blue);
    float: left;        
    text-align: right;
    margin-left: 15px; 
    padding-top: 10px;         
}
  
.doubt a i{
    font-size: 50px;
}
  
.doubt a:hover{
    color: var(--dark-blue-light); 
    transition:all 0.5s;
}

#divleft {
    float: left;
    width: 48%;
    margin-right: 2%;
    height: 50px;
    margin-top: 25px;   
}

#divright {
    float: left;
    width: 48%;
    margin-right: 2%;
    height: 70px;
    text-align: right;
    margin-top: 25px;
    background-color: rgb(210, 213, 219);
    vertical-align: middle;
}

.alert{
    width: auto;
    font-size: 12px;   
}

.linha1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;
    color: #002774;
  }
  
  .linha2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #101A24;
    padding-bottom: 10px;
  }