<!--Desenvolvido por Cristiano Freese-->
<!--Formulário inicial para validação de CPF, data de nascimento e Recaptcha. O cidadão informa o seu CPF, a sua data de nascimento e resolve o desafio Recaptcha. A API CPF retorna os dados do CPF informado e verifica se as datas de nascimento são iguais. Se os dados estiverem consistentes ocorre a navegação para a página de cadastro com acesso a um objeto contendo os dados retornados no CPF em questão-->
<main class="form-signin w-100 m-auto mx-auto">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSldZ9670r5kOg2RisJp9lpc3bU13vnPus6zQ&usqp=CAU" class="mb-4 rounded mx-auto d-block" width="108" height="85">
    <h1 class="h3 mb-3 fw-normal text-center linha1">Eu Posso Ser MEI?</h1>
    <h1 class="h3 mb-3 fw-normal text-center linha2">Por favor informe seu CPF</h1>
    <form #FormValidaRecaptcha="ngForm" id="formRecaptcha" (ngSubmit)="validaForm(FormValidaRecaptcha)">
        <div class="form-group">
            <label for="cpfConsultaMEI">CPF</label>
            <input type="text" class="form-control" ngModel name="cpfConsultaMEI" id="cpfConsultaMEI" placeholder="000.000.000-00" required mask="000.000.000-00">
        </div>
        <div class="form-group">
            <label for="dtNascConsultaMEI">Data de Nascimento</label>
            <input type="text" class="form-control" ngModel name="dtNascConsultaMEI" id="dtNascConsultaMEI" placeholder="__/__/__" required mask="00/00/0000">
        </div>
        <div> <div #divRecaptcha id="recaptcha"></div> </div>        
        <div id="botaoRecaptcha"><button [disabled]="FormValidaRecaptcha.invalid" class="form-submit-button text-center" type="submit">Consultar</button></div>    
    </form>
</main>